@import url('https://fonts.googleapis.com/css?family=Raleway');
*, *::before, *::after {
  box-sizing: border-box;
}
body {
  font-family: 'Raleway', Sans-serif;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  position: fixed;
  top: 40px;
  right: 40px;
  height: auto;
  z-index: 9999;
}
.popup .popup-button:hover {
  background-position: right center;
}
.popup .popup-button {
  display: block;
  text-align: center;
  text-decoration: none;
  font-weight: 800;
  font-size: 1em;
  text-transform: uppercase;
  color: #fff;
  border-radius: 6px;
  margin: 10px;
  padding: 1em 3em;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  background-image: linear-gradient(to right, #895cf2 0%, #ffabf4 50%, #895cf2 100%);
  transition: 0.5s;
}
